/* Esta es la familia de fuentes */
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Andada', serif;
font-family: 'Quicksand', sans-serif;*/

/*********************************
******** Body Edition **********
*********************************/
body {    
    background-color: white;
    -webkit-animation-name: gradientbackground; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: gradientbackground;
    animation-duration: 4s;
}

@keyframes gradientbackground {
    from {background-color: #a6a6a6;}
    to {background-color: white;}
}

/*********************************
******** Header Edition **********
*********************************/
header .headline {
    font-family: 'Andada', serif;
    font-size: 50px;
    color: black;

}
header .headline a{
    text-decoration: none;
    color: black;
}


header .headline-caption {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    color: black;
}


/*********************************
******** Section Edition *********
*********************************/

section {
    margin-top: 5px;
}

section .imgbox {
margin-bottom: 30px;
}

section .imgbox img{
    margin-left: auto;
    margin-right: auto;
}

section .imgbox a img{
    opacity: 1;
}

section .imgbox a img:hover{
    opacity: 0.3;
}


section .imgbox a:hover ~ .caption p{
    font-weight: bold;
}


.imgbox .caption p{
    font-family: 'Quicksand', sans-serif;
    font-size: 8vmin;
    color: black;
}

.imgbox .caption{
    margin-top: -10vmax;
    margin-bottom: 8vmax;
}


/*********************************
********* Footer Edition *********
*********************************/
footer {
/*    margin-top: 10px;*/
}

footer .footelement{
text-align: center;
}

footer img {
    width: 6vmin;
    margin: 0px 10px 0px 10px;
}

footer img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}