/* Codigo CSS correspondiente a la pagina cv.html */

/* Trabajamos el encabezado */
.title {
    font-family: Cooperlate;
    font-size: 40px;
    width: 100%;
    text-align: center;
}

.navbar {
    
    
    
}

.navbar img {
    width: auto;
    height: auto;    
}